#module
pip install colorama
pip install ftplib
pip install qrcode
pip install pyshorteners
pip install bcrypt
pip install urllib
pip install tqdm
pip install getpass
pip install matploitlib
pip install datetime
pip install tabulate



#cara install
1. tekan windows + R 
2. ketikan cmd lalu enter
3. copy semua module diatas
4. paste ke cmd tersebut

pastikan windows anda sudah terinstall python
